<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/vci/vci_functions_demo.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [46]:
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading

# II. Truy xuất dữ liệu - CK Việt Nam

## Listing: Liệt kê danh sách chứng khoán

In [47]:
listing = Listing()

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [48]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
listing.all_symbols()

     symbol                                         organ_name
0       YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1       YEG                     Công ty Cổ phần Tập đoàn Yeah1
2       YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3       YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4       XPH                    Công ty Cổ phần Xà phòng Hà Nội
...     ...                                                ...
1711    AAS            Công ty Cổ phần Chứng khoán SmartInvest
1712    AAM                    Công ty Cổ Phần Thủy Sản MeKong
1713    AAH                           Công ty Cổ phần Hợp Nhất
1714    AAA                  Công ty Cổ phần Nhựa An Phát Xanh
1715    A32                                 Công ty Cổ phần 32

[1716 rows x 2 columns]

In [49]:
# # Xuất dữ liệu ra file csv
# listing.all_symbols().to_csv('assets/data/all_symbols.csv', index=False)

### Liệt kê mã CP theo sàn (đầy đủ)

In [50]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name,product_grp_id
0,YTC,UPCOM,STOCK,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,UPX
1,YEG,HSX,STOCK,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1,STO
2,YBM,HSX,STOCK,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,STO
3,YBC,UPCOM,STOCK,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,UPX
4,XPH,UPCOM,STOCK,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội,UPX
...,...,...,...,...,...,...
2978,41I1G3000,HNX,FU,VN30 Index Futures 032026,VN30 Index Futures 032026,FIO
2979,41I1F8000,HNX,FU,VN30 Index Futures 082025,VN30 Index Futures 082025,FIO
2980,41I1F7000,DELISTED,FU,41I1F7000 - HĐTL,41I1F7000 - HĐTL,FIO
2981,41BAG3000,HNX,FU,10-year Government Bond Futures 032026,10-year Government Bond Futures 032026,FBX
2982,41B5G3000,HNX,FU,5-year Government Bond Futures 032026,5-year Government Bond Futures 032026,FBX

In [51]:
# # Xuất dữ liệu ra file csv
# listing.symbols_by_exchange().to_csv('assets/data/symbols_by_exchange.csv', index=False)

### Liệt kê mã CP theo ngành icb

In [52]:
listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,DVT,Trung tâm Đào tạo nghiệp vụ Giao thông vận tải...,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Đào tạo & Việc làm,CT,2000,2700,2790,2793
1,ALT,Công ty Cổ phần Văn hóa Tân Bình,Truyền thông,Truyền thông,"Sách, ấn bản & sản phẩm văn hóa",CT,5000,5500,5550,5557
2,HII,Công ty Cổ phần An Tiến Industries,Hóa chất,Hóa chất,"Nhựa, cao su & sợi",CT,1000,1300,1350,1353
3,ARM,Công ty Cổ phần Xuất nhập khẩu Hàng không,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Nhà cung cấp thiết bị,CT,2000,2700,2790,2797
4,APC,Công ty Cổ phần Chiếu xạ An Phú,Dược phẩm,Y tế,Công nghệ sinh học,CT,4000,4500,4570,4573
...,...,...,...,...,...,...,...,...,...,...
1581,XMC,Công ty cổ phần Đầu tư và Xây dựng Xuân Mai,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1582,XMD,Công ty Cổ phần Xuân Mai - Đạo Tú,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1583,CQT,Công ty Cổ phần Xi măng Quán Triều VVMI,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1584,XPH,Công ty Cổ phần Xà phòng Hà Nội,Hàng cá nhân,Hàng cá nhân & Gia dụng,Hàng cá nhân,CT,3000,3700,3760,3767
1585,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Sản xuất & Phân phối Điện,"Điện, nước & xăng dầu khí đốt",Sản xuất & Phân phối Điện,CT,7000,7500,7530,7535

In [53]:
# # Xuất dữ liệu ra file csv
# listing.symbols_by_industries().to_csv('assets/data/symbols_by_industries.csv', index=False)

### Danh sách cổ phiếu theo nhóm

In [54]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

In [55]:
# # Xuất dữ liệu ra file csv
# listing.symbols_by_group('VN30').to_csv('assets/data/vn30_symbols.csv', index=False)

### Danh sách mã ngành theo mã icb

In [56]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

In [57]:
# # Xuất dữ liệu ra file csv
# listing.industries_icb().to_csv('assets/data/industries_icb.csv', index=False)

## Quote: Giá chứng khoán

> Không giống như khi sử dụng nhóm hàm tổng hợp `Vnstock` như cổng giao tiếp với phần mềm, bạn cần định nghĩa thông tin `symbol` tại lớp `Quote` khi nạp chương trình và không thể sử dụng tham số `symbol` trong các hàm thành phần. Để truy vấn các mã chứng khoán khác nhau, bạn cần khai báo tại `Quote`

In [58]:
# # Lấy thông tin chi tiết của một mã cổ phiếu, ETF
quote = Quote(symbol='FPT')

In [59]:
# Lấy thông tin mã HĐTL
quote = Quote(symbol='VN30F1M')
# hoặc
# quote = Quote(symbol='VN30F2506')

In [60]:
# Lấy thông tin mã chỉ số
quote = Quote(symbol='VNINDEX')

In [61]:
# Lấy thông tin mã chứng quyền (CW)
quote = Quote(symbol='CFPT2314')

In [62]:
# Thông tin trái phiếu niêm yết
quote = Quote(symbol='CII424002')

#### Giá lịch sử

In [63]:
quote = Quote(symbol='FPT')

In [64]:
df = quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time    open    high     low   close    volume
0   2024-01-02   71.65   71.65   70.77   70.91   1717109
1   2024-01-03   70.69   71.36   70.54   71.21   1439581
2   2024-01-04   71.21   72.76   71.14   71.88   2978466
3   2024-01-05   71.95   72.10   71.36   72.02   1140908
4   2024-01-08   72.02   72.69   71.80   71.95   1446808
..         ...     ...     ...     ...     ...       ...
295 2025-03-13  117.35  118.98  117.35  117.69   3630282
296 2025-03-14  116.92  117.52  112.78  113.29  16174178
297 2025-03-17  113.47  113.90  111.74  112.09   6750806
298 2025-03-18  112.17  113.98  112.09  112.09   5538119
299 2025-03-19  112.17  112.60  106.48  107.43  18229064

[300 rows x 6 columns]

In [65]:
# # Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
# print(f'Mã chứng khoán: {df.name}')
# print(f'Loại tài sản: {df.category}')

#### Intraday: dữ liệu khớp lệnh

In [66]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
quote.intraday(page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-08-01 10:55:20+07:00  102.3     300        Buy  334929136
1    2025-08-01 10:55:22+07:00  102.3     200        Buy  334929183
2    2025-08-01 10:55:30+07:00  102.3    1000        Buy  334929405
3    2025-08-01 10:55:31+07:00  102.2     200       Sell  334929463
4    2025-08-01 10:55:31+07:00  102.2     100       Sell  334929462
...                        ...    ...     ...        ...        ...
9995 2025-08-01 14:45:00+07:00  107.0    2000        Buy  335427532
9996 2025-08-01 14:45:00+07:00  107.0    1000        Buy  335427533
9997 2025-08-01 14:45:00+07:00  107.0     100        Buy  335427534
9998 2025-08-01 14:45:00+07:00  107.0     300        Buy  335427526
9999 2025-08-01 14:45:00+07:00  107.0     800        Buy  335427986

[10000 rows x 5 columns]

In [67]:
# Bước giá và khối lượng giao dịch: realtime
quote.price_depth()

       price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0   107400.0    14800.0        14800.0             0.0                  0.0
1   107300.0    52400.0        21800.0         30600.0                  0.0
2   107200.0    51000.0        43900.0          7100.0                  0.0
3   107100.0    31900.0        19800.0         12100.0                  0.0
4   107000.0  1078200.0       941200.0        137000.0                  0.0
5   106900.0    36900.0         9100.0         27800.0                  0.0
6   106800.0    48200.0        43700.0          4500.0                  0.0
7   106700.0    13200.0         6500.0          6700.0                  0.0
8   106600.0    84800.0        53800.0         31000.0                  0.0
9   106500.0   236100.0       179600.0         56500.0                  0.0
10  106400.0    59800.0        22700.0         37100.0                  0.0
11  106300.0    49300.0        21600.0         27700.0                  0.0
12  106200.0    25400.0          700.0         24700.0                  0.0
13  106100.0    14700.0         8700.0          6000.0                  0.0
14  106000.0    99600.0        59200.0         40400.0                  0.0
15  105900.0    58200.0        57000.0          1200.0                  0.0
16  105800.0    71300.0        23700.0         47600.0                  0.0
17  105700.0    90100.0        65500.0         24600.0                  0.0
18  105600.0    46200.0        14200.0         32000.0                  0.0
19  105500.0    13500.0        11500.0          2000.0                  0.0
20  105400.0     1100.0          800.0           300.0                  0.0
21  105300.0     2600.0         2600.0             0.0                  0.0
22  105200.0    16000.0         3300.0         12700.0                  0.0
23  105100.0     4300.0         3800.0           500.0                  0.0
24  105000.0   307300.0       303900.0          3400.0                  0.0
25  104900.0   183200.0       149400.0         33800.0                  0.0
26  104800.0    25900.0         3100.0         22800.0                  0.0
27  104700.0    35900.0        31900.0          4000.0                  0.0
28  104600.0    16300.0        15200.0          1100.0                  0.0
29  104500.0    12300.0         9800.0          2500.0                  0.0
30  104400.0     3500.0         2000.0          1500.0                  0.0
31  104300.0    22600.0        20700.0          1900.0                  0.0
32  104200.0    29200.0        27600.0          1600.0                  0.0
33  104100.0     5900.0         3100.0          2800.0                  0.0
34  104000.0   109400.0        55900.0         53500.0                  0.0
35  103900.0    25600.0        24500.0          1100.0                  0.0
36  103800.0     8700.0         5200.0          3500.0                  0.0
37  103700.0   148600.0         3100.0        145500.0                  0.0
38  103600.0     8600.0         2000.0          6600.0                  0.0
39  103500.0    23500.0        11900.0         11600.0                  0.0
40  103400.0    11000.0         2300.0          8700.0                  0.0
41  103300.0    16700.0         2600.0         14100.0                  0.0
42  103200.0     5900.0         3400.0          2500.0                  0.0
43  103100.0    22700.0         3000.0         19700.0                  0.0
44  103000.0   100900.0        53300.0         47600.0                  0.0
45  102900.0    85000.0        41300.0         43700.0                  0.0
46  102800.0   159800.0       115300.0         44500.0                  0.0
47  102700.0   398300.0       206700.0        191600.0                  0.0
48  102600.0  1169000.0       752000.0        417000.0                  0.0
49  102500.0   777000.0       194600.0        582400.0                  0.0
50  102400.0  1030700.0       684000.0        346700.0                  0.0
51  102300.0  1339900.0       439900.0        900000.0                  0.0
52  102200.0   947200.0       268200.0        679000.0                  0.0
53  102100.0   868500.0       268700.0        599800.0                  0.0
54  102000.0   341400.0        56200.0        285200.0                  0.0
55  101900.0    76000.0        71000.0          5000.0                  0.0
56  101800.0    75500.0         3600.0         71900.0                  0.0
57  101700.0    33700.0        19300.0         14400.0                  0.0
58  101600.0   100000.0        19500.0         80500.0                  0.0
59  101500.0   166200.0            0.0        166200.0                  0.0

## Trading: Giao dịch

In [68]:
from vnstock.explorer.vci import Trading
trading = Trading()

### Bảng giá

In [69]:
trading.price_board(['ACB', 'GB05F2506'])

     listing                                                                   \
      symbol ceiling   floor ref_price stock_type exchange     trading_status
0        ACB   24600   21400     23000      STOCK      HSX  TRADING_ACTIVATED
1  GB05F2506  111471  104979    108225         FU      HNX  TRADING_ACTIVATED

                                                ...     bid_ask               \
  security_status last_trading_date issue_date  ... bid_2_price bid_2_volume
0               N              None        NaN  ...     22850.0     243100.0
1               N        13/06/2025        NaN  ...         NaN          NaN

                                                                              \
  bid_3_price bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume
0     22800.0    1155700.0     23000.0     477600.0     23050.0     224600.0
1         NaN          NaN         NaN          NaN         NaN          NaN


  ask_3_price ask_3_volume
0     23100.0     258600.0
1         NaN          NaN

[2 rows x 66 columns]

In [70]:
trading.price_board(['VCB','ACB','TCB','BID'], flatten_columns=True, drop_levels=[0]).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                  0       1      2      3
symbol          VCB     ACB    TCB    BID
ceiling       64400   24600  36350  40450
floor         56000   21400  31650  35250
ref_price     60200   23000  34000  37850
_stock_type   STOCK   STOCK  STOCK  STOCK
...             ...     ...    ...    ...
ask_1_volume  69100  477600    100  12500
ask_2_price   60300   23050  34200  37300
ask_2_volume  74900  224600   6100  64500
ask_3_price   60400   23100  34250  37350
ask_3_volume  45900  258600  20000    900

[66 rows x 4 columns]

## Company: Thông tin công ty

In [71]:
# # Khởi tạo đối tượng
# from vnstock import Vnstock
# company = Vnstock().stock(symbol='ACB', source='VCI').company

# hoặc
from vnstock.explorer.vci import Company
company = Company('ACB')

Loại bỏ đoạn mã `.head()` để xem toàn bộ dữ liệu thay vì chỉ lấy 5 dòng đầu tiên.

#### Hồ sơ

In [72]:
company.overview()

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,5136656599,- Ngày 24/04/1993: Ngân hàng Thương mại Cổ ph...,Ngân hàng Thương mại Cổ phần Á Châu (ACB) được...,Ngân hàng,Ngân hàng,Ngân hàng,5136656599,51366565990000

#### Cổ đông

In [73]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,85508303,Vietnam Enterprise Investments Limited,212880184,5.480880e-02,2024-09-13
1,85500913,Phạm Thị Thu Hà,285000,4.990000e-02,2016-05-20
2,85484502,Estes Investments Limited,83010435,4.990000e-02,2024-05-15
3,85503137,Sather Gate Investments Limited,193907186,4.990000e-02,2024-05-15
4,85505125,Trần Hùng Huy,153062159,3.940000e-02,2025-01-24
...,...,...,...,...,...
83,85502662,Quỹ Đầu tư Cổ phiếu Năng động Bảo Việt,22065,1.327000e-05,2025-02-03
84,85482764,Đinh Thị Hoa,67200,1.200000e-05,2025-01-24
85,85490673,Ngô Tấn Long,63442,1.000000e-05,2025-07-03
86,85478661,Công ty Cổ phần Chứng khoán Thiên Việt,5285,1.500000e-06,2022-07-25
87,85492511,Nguyễn Hồng Nga,2008,7.000000e-07,2022-08-31

#### Công ty con

In [74]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,24200338,ACBA,1,Công Ty TNHH Quản Lý Nợ Và Khai Thác Tài Sản N...,công ty con
1,24200339,ACBL,1,Công Ty TNHH Một Thành Viên Cho Thuê Tài Chính...,công ty con
2,24200340,ACBS,1,Công ty TNHH Chứng khoán ACB,công ty con
0,24200342,ACBD,None,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,công ty liên kết
1,24200341,SGGS,None,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,công ty liên kết

#### Công ty liên kết

In [75]:
# Phương thức này không có trong nguồn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,24200342,ACBD,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,None
1,24200341,SGGS,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,None

#### Lãnh đạo

In [76]:
company.officers(filter_by='working').head() # filter_by='all' hoặc 'working' hoặc 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Trần Hùng Huy,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-01-24,0.0394,153062159
1,7,Đặng Thu Thủy,Thành viên Hội đồng Quản trị,TV HĐQT,2025-01-24,0.0137,53350036
2,11,Đặng Phú Vinh,Giám đốc khối,GĐ Khối,2025-01-24,0.0042,16454507
3,12,Đỗ Minh Toàn,Tổng Giám đốc,TGĐ,2025-01-24,0.0008,3202886
4,8,Nguyễn Thành Long,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-01-24,0.0004,1647067

#### Tin tức

In [77]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,8080153,ACB: Báo cáo tình hình quản trị 6 tháng đầu nă...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-bao-cao-tinh...,None,1753978240000,None,vi,11657956,,<p>Ngân hàng Thương mại Cổ phần Á Châu Báo cáo...,23000,23000,21400,24600,0.000000
1,8002767,ACB: Nghị quyết HĐQT về việc bổ nhiệm lại Phó ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1753269761000,None,vi,11644782,,<p>Ngân hàng Thương mại Cổ phần Á Châu công bố...,23000,22900,21300,24500,0.004367
2,7970098,"ACB: Nghị quyết HĐQT số 3745, 3747 ngày 16/07/...",,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1752848657000,None,vi,11639053,,<p>Ngân hàng Thương mại Cổ phần Á Châu thông b...,22650,22450,20900,24000,0.008909

#### Sự kiện

In [78]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,40234158,"ACB - Niêm yết bổ sung 582,607,554 cổ phiếu","ACB- Lists additional 582,607,554 shares",2024-06-28,2024-06-27,http://fiinpro.com/News/Detail/11231512?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
1,18130,Niêm yết thêm,,2011-03-07,2011-03-11,,AIS,NaN,NaN,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
2,9972801,"ACB - Niêm yết bổ sung 675,487,019 cổ phiếu","ACB- Lists additional 675,487,019 shares",2022-07-12,2022-07-06,http://fiinpro.com/News/Detail/10410854?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing

#### Báo cáo phân tích

In [79]:
company.reports()

,date,description,link,name
0,2025-07-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 6 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Chất lượng tài sản cải thiện đáng kể; NI...
1,2025-05-27T00:00:00Z,"- Chúng tôi điều chỉnh giảm 2,4% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +32,3%] - NIM dự kiến sẽ phải chịu áp..."
2,2025-04-24T00:00:00Z,1. Tác động của Thuế quan đối với ACB: Tác độn...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Kỳ vọng tín dụng tăng mạnh và NIM cải th...
3,2025-04-23T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD quý 1...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Lợi nhuận thấp hơn kỳ vọng do NIM giảm -...
4,2025-04-08T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ của Ngân hàng TMCP Á...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tăng trưởng tín dụng được kỳ vọng sẽ nằm...
5,2025-01-22T00:00:00Z,Ngân hàng Thương Mại Cổ Phần Á Châu (ACB) đã c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tập trung vào tăng trưởng tín dụng hơn t...
6,2024-10-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 9 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – NOII thấp hơn dự kiến, ảnh hưởng tiêu cự..."
7,2024-09-09T00:00:00Z,- Chúng tôi tiếp tục duy trì giá mục tiêu đối ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +35,0%] - Tăng dự báo tăng trưởng tín..."
8,2024-07-23T00:00:00Z,ACB đã công bố KQKD nửa đầu năm 2024 với thu n...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - Tín dụng tăng trưởng mạnh, chất lượng tà..."
9,2024-06-04T00:00:00Z,"- Chúng tôi điều chỉnh tăng 8,6% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +33,7%] - NIM tương đối đi ngang tron..."

#### Tình hình tài chính

In [80]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2025,2,1753432332947,14298695000000,0.146214,4881159000000,0.092326,0,0.201725,...,0,1.697809,9.704445,0.043478,0,0,0,9.704445,None,0

#### Thống kê giao dịch

In [81]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,118143101777000,24600,21400,23000,23000,23000,23000,0,...,23950,17337,0.262772,-0.035639,504001,1540996979,16113842,1540756678,0.299953,0.3

## Finance: Báo cáo tài chính

In [82]:
from vnstock.explorer.vci import Finance
fin =  Finance(symbol='VCI')

### Bảng cân đối kế toán

In [83]:
fin.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TÀI SẢN NGẮN HẠN (đồng),Tiền và tương đương tiền (đồng),Giá trị thuần đầu tư ngắn hạn (đồng),Các khoản phải thu ngắn hạn (đồng),Hàng tồn kho ròng,Tài sản lưu động khác,TÀI SẢN DÀI HẠN (đồng),Tài sản cố định (đồng),...,"Hàng tồn kho, ròng (đồng)",Tài sản lưu động khác (đồng),Cổ phiếu phổ thông (đồng),Vốn góp của chủ sở hữu (đồng),Vay và nợ thuê tài chính dài hạn (đồng),Người mua trả tiền trước ngắn hạn (đồng),Vay và nợ thuê tài chính ngắn hạn (đồng),Trả trước dài hạn (đồng),Tài sản dài hạn khác (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,VCI,2024,26491835561026,4743771932745,21072524575199,506858248065,0,168680805017,100288918214,37268698440,...,0,135374861200,7.180995e+12,7180994800000,0,2743133560,12573864000000,6238956911,0,0.000000e+00
1,VCI,2023,17174448616966,787897819240,15097165308797,1094491429414,0,194894059515,80686039559,23425609453,...,0,147257185100,4.375000e+12,4375000000000,0,378319774,8979275000000,7943878800,0,0.000000e+00
2,VCI,2022,14157693071824,3423501614803,10562264962864,120085485886,0,51841008271,85058244998,23496558588,...,0,46136989800,4.354999e+12,4354999010000,0,221000000,6326207142857,13290531600,0,0.000000e+00
3,VCI,2021,16568965942558,1131748599533,14998113044339,285206345277,0,153897953409,67299004559,13155825424,...,0,150714917648,3.330000e+12,3330000000000,0,52551076244,6362680000000,10702485700,0,0.000000e+00
4,VCI,2020,8312170798945,642512983590,6697916243107,221798617565,0,97527648804,70234326495,14384201512,...,0,91333803000,1.656000e+12,1656000000000,0,7971369863,2696130000000,12950546970,0,0.000000e+00
5,VCI,2019,7173102515011,794511762602,5817229478552,747087592357,0,165433739031,69857713462,9907318916,...,0,164204396000,1.644000e+12,1644000000000,0,210000000,1450980000000,17085900679,0,0.000000e+00
6,VCI,2018,6430493843962,1144361568890,5252959790479,30487868695,0,2684615898,79502079245,18226354386,...,0,0,1.629999e+12,1629998900000,0,126324890101,984860000000,25494063880,0,0.000000e+00
7,VCI,2017,6342806740944,486703202803,5709256554482,28256236703,0,118590746956,59205004260,25326131092,...,0,116156411000,1.200000e+12,1200000000000,0,462392057000,1434460418662,2171535344,0,0.000000e+00
8,VCI,2016,3075625891871,545670784533,2481417250820,44869461531,0,7607339062,34921874969,9489824544,...,0,1335936000,1.032000e+12,1032000000000,0,571264678998,627508000000,4433448206,0,7.721605e+10
9,VCI,2015,2423478575254,158181741192,2092718191471,78849205458,0,92517941380,39867670505,14899441202,...,0,87885991500,5.000000e+11,500000000000,0,799974087998,535500000000,9817929938,0,7.475699e+10
10,VCI,2014,2707101348631,618777857754,1939716412996,141064801745,14179400,7528096736,63219168401,18390029859,...,14179400,3095401526,5.000000e+11,500000000000,0,840646942003,266511750000,14560154043,14160000000,7.604128e+10
11,VCI,2013,2090711345801,312645301464,1659030664666,117641213076,16677400,1377489195,41576018914,11027268785,...,16677400,87777500,0.000000e+00,398400000000,0,470366997300,648400000000,16231644217,0,0.000000e+00
12,VCI,2011,1795452129469,111616718751,1059922610501,614818783909,12320284,9081696024,622201775573,7612776214,...,12320284,6609715987,3.780000e+11,378000000000,500000000000,121749992655,582426780000,0,594640525000,0.000000e+00

In [84]:
fin.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,CURRENT ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Short-term investments (Bn. VND),Accounts receivable (Bn. VND),Net Inventories,Other current assets,LONG-TERM ASSETS (Bn. VND),...,Other current assets (Bn. VND),Common shares (Bn. VND),Paid-in capital (Bn. VND),Long-term borrowings (Bn. VND),Advances from customers (Bn. VND),Short-term borrowings (Bn. VND),Long-term prepayments (Bn. VND),Other long-term assets (Bn. VND),Goodwill,MINORITY INTERESTS
0,VCI,2025,2,21777317137834,472276928356,20797460372646,339960464823,0,167619372009,120444662482,...,149240955850,7.180995e+12,7180994800000,0,19412931091,8618300000000,3946681189,0,0,0.0
1,VCI,2025,1,23620977742780,2302263974886,19710214115776,1256719415203,0,351780236915,106647519669,...,325110955850,7.180995e+12,7180994800000,0,19034969033,10310840000000,4964163668,0,0,0.0
2,VCI,2024,4,26491835561026,4743771932745,21072524575199,506858248065,0,168680805017,100288918214,...,135374861200,7.180995e+12,7180994800000,0,2743133560,12573864000000,6238956911,0,0,0.0
3,VCI,2024,3,20322217963459,2543516547760,17408880681428,235746508338,0,134074225933,92945134178,...,122374861200,5.744695e+12,5744694800000,0,4431803623,10832654000000,7503462322,0,0,0.0
4,VCI,2024,2,23009916452730,3903157759657,17775135464006,931122579216,0,400500649851,95455335905,...,372374861200,4.419000e+12,4419000000000,0,1753351687,12392104000000,8879984392,0,0,0.0

### Báo cáo lãi lỗ

In [85]:
fin.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),Doanh thu thuần,Giá vốn hàng bán,Lãi gộp,Thu nhập tài chính,...,Lợi nhuận khác,LN trước thuế,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông thiểu số,Cổ đông của Công ty mẹ,Doanh thu bán hàng và cung cấp dịch vụ,Thu nhập khác,Thu nhập/Chi phí khác
0,VCI,2024,3695525335470,0.494675,910692113293,0.851359,3695525335470,-1717402022529,1978123312941,5.063321e+10,...,2785303975,1089337104906,-178605980097,-39011516,910692113293,0,910692113293,3695525335470,3094145678,-308841703
1,VCI,2023,2472460543397,-0.216644,491904659394,-0.433927,2472460543397,-1063597101525,1408863441872,2.369615e+10,...,128411319,570138640134,-64320454739,-13913526001,491904659394,0,491904659394,2472460543397,132390105,-3978786
2,VCI,2022,3156242736345,-0.148588,868978185802,-0.420186,3156242736345,-1398531179478,1757711556867,3.554843e+10,...,43696276107,1059738713385,-250981079495,60220551912,868978185802,0,868978185802,3156242736345,44543029091,-846752984
3,VCI,2021,3707068724492,1.143320,1498718375328,0.949141,3707068724492,-1326133822522,2380934901970,2.561687e+10,...,-267786912,1850585393088,-309748513618,-42118504142,1498718375328,0,1498718375328,3707068724492,69316632,-337103544
4,VCI,2020,1729591590563,0.122423,768912289421,0.109253,1729591590563,-522004485232,1207587105331,5.858556e+09,...,621078878,951038957081,-182422798514,296130854,768912289421,0,768912289421,1729591590563,621078878,0

In [86]:
fin.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Net Sales,Cost of Sales,Gross Profit,...,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company,Sales,Other income,Other Income/Expenses
0,VCI,2025,2,1159674866340,0.266226,183901836890,-0.341342,1159674866340,-772258024779,387416841561,...,219745454,211490551060,-31514091968,3925377798,183901836890,0,183901836890,1159674866340,219745454,0
1,VCI,2025,1,850928963332,0.055328,294867782406,0.491065,850928963332,-313821357598,537107605734,...,15042153051,355107020678,-72883103138,12643864866,294867782406,0,294867782406,850928963332,15107153051,-65000000
2,VCI,2024,4,998995850627,0.239917,218376745828,0.776135,998995850627,-519893652425,479102198202,...,21194452,253335115979,-35884665831,926295680,218376745828,0,218376745828,998995850627,23636364,-2441912
3,VCI,2024,3,974360554621,0.461496,215352225175,0.203064,974360554621,-468140246243,506220308378,...,0,264695399242,-40189361297,-9153812770,215352225175,0,215352225175,974360554621,0,0
4,VCI,2024,2,915851554761,0.828529,279206679897,1.388492,915851554761,-359336052126,556515502635,...,2826585413,343766121537,-64821621464,262179824,279206679897,0,279206679897,915851554761,2837985204,-11399791

### Báo cáo lưu chuyển tiền tệ

In [87]:
fin.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Net Profit/Loss before tax,Depreciation and Amortisation,Provision for credit losses,Unrealized foreign exchange gain/loss,Profit/Loss from investing activities,Interest Expense,Interest income and dividends,Operating profit before changes in working capital,...,Payments for share repurchases,Proceeds from borrowings,Repayment of borrowings,Dividends paid,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Cash and Cash Equivalents at the end of period,_Increase/Decrease in receivables,_Increase/Decrease in payables
0,VCI,2024,1089337104906,10751194638,4516800000,0,0,764124674808,-8.608679e+10,-5169139240487,...,0,28212221000000,-24737632000000,-177803580300,7371225419700,3955874113505,787897819240,4743771932745,0,65609975849
1,VCI,2023,570138640134,9679599271,11292000000,0,0,562553033255,-1.032191e+11,-5407321967895,...,0,20322010000000,-18096042142857,-522119971000,1727849074143,-2635603795563,3423501614803,787897819240,0,3923102445
2,VCI,2022,1059738713385,9647191174,0,0,154602984,477360036322,-5.948490e+10,2006811362129,...,0,15126047142857,-16579490000000,0,-1428442857143,2291753015270,1131748599533,3423501614803,0,-119194100124
3,VCI,2021,1850585393088,7496942452,-214202387,0,0,330776772616,-4.785212e+10,-5732733292320,...,0,16591566600000,-11629266600000,-730123222800,4245676777200,489235615943,642512983590,1131748599533,5939376000,88803338332
4,VCI,2020,951038957081,10634646105,-35400000,0,-500000000,173513458172,-2.094800e+10,-1673271187005,...,-852000000,7065840000000,-6233940000000,-411641446500,432858721500,-151998779012,794511762602,642512983590,57321090000,-265045502541

In [88]:
fin.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Net Sales,Cost of Sales,Gross Profit,...,Net other income/expenses,Profit before tax,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Minority Interest,Attributable to parent company,Sales,Other income,Other Income/Expenses
0,VCI,2025,2,1159674866340,0.266226,183901836890,-0.341342,1159674866340,-772258024779,387416841561,...,219745454,211490551060,-31514091968,3925377798,183901836890,0,183901836890,1159674866340,219745454,0
1,VCI,2025,1,850928963332,0.055328,294867782406,0.491065,850928963332,-313821357598,537107605734,...,15042153051,355107020678,-72883103138,12643864866,294867782406,0,294867782406,850928963332,15107153051,-65000000
2,VCI,2024,4,998995850627,0.239917,218376745828,0.776135,998995850627,-519893652425,479102198202,...,21194452,253335115979,-35884665831,926295680,218376745828,0,218376745828,998995850627,23636364,-2441912
3,VCI,2024,3,974360554621,0.461496,215352225175,0.203064,974360554621,-468140246243,506220308378,...,0,264695399242,-40189361297,-9153812770,215352225175,0,215352225175,974360554621,0,0
4,VCI,2024,2,915851554761,0.828529,279206679897,1.388492,915851554761,-359336052126,556515502635,...,2826585413,343766121537,-64821621464,262179824,279206679897,0,279206679897,915851554761,2837985204,-11399791

### Chỉ số tài chính

In [89]:
fin.ratio(period='year', lang='vi', flatten_columns=True, drop_levels=[0], dropna=True).head()

,CP,Năm,Kỳ,(Vay NH+DH)/VCSH,Nợ/VCSH,TSCĐ / Vốn CSH,Vốn CSH/Vốn điều lệ,Vòng quay tài sản,Vòng quay TSCĐ,Số ngày thu tiền bình quân,...,Đòn bẩy tài chính,P/B,Vốn hóa (đồng),Số CP lưu hành (Triệu CP),P/E,P/S,P/Cash Flow,EPS (VND),BVPS (VND),EV/EBITDA
0,VCI,2024,5,0.971382,1.054349,0.002879,1.791351,0.168564,121.775022,0.0,...,2.054349,2.465912,31919521886000,718099480,35.049740,8.637344,-9.432346,1268.197706,18025.783068,21.554159
1,VCI,2023,5,1.218152,1.340876,0.003178,1.020098,0.156992,105.385605,0.0,...,2.340876,1.970499,14525000000000,437500000,29.528080,5.874715,-3.334822,1124.353507,16848.524590,17.525975
2,VCI,2022,5,0.973942,1.192721,0.003617,0.898902,0.204426,172.225781,0.0,...,2.192721,2.866248,18617620767750,435499901,21.424727,5.898666,4.975461,1995.357941,14914.970490,12.729467
3,VCI,2021,5,0.972610,1.543047,0.002011,0.905323,0.296344,269.213152,0.0,...,2.543047,1.183493,7742250000000,333000000,5.165914,2.088510,-2.064593,4500.655782,19645.234971,5.895364
4,VCI,2020,5,0.596293,0.853905,0.003181,0.625725,0.221383,142.402909,0.0,...,1.853905,2.666309,12055680000000,165600000,15.678875,6.970247,-21.093469,4643.190154,27303.662559,12.313747

In [90]:
fin.ratio(period='quarter', lang='en', flatten_columns=True, drop_levels=[0], dropna=True).head()

,ticker,yearReport,lengthReport,(ST+LT borrowings)/Equity,Debt/Equity,Fixed Asset-To-Equity,Owners' Equity/Charter Capital,Asset Turnover,Fixed Asset Turnover,Days Sales Outstanding,...,Financial Leverage,P/B,Market Capital (Bn. VND),Outstanding Share (Mil. Shares),P/E,P/S,P/Cash Flow,EPS (VND),BVPS (VND),EV/EBITDA
0,VCI,2025,2,0.692842,0.760404,0.004504,1.721430,0.172033,96.453294,0.0,...,1.760404,2.570993,32119570000000,722600000,32.429770,8.062222,-9.358558,254.500189,17289.042328,22.457830
1,VCI,2025,1,0.819614,0.886120,0.003394,1.740952,0.159426,105.942759,0.0,...,1.886120,2.382142,30096290000000,722600000,25.984421,8.046842,-11.042438,408.065019,17484.263531,19.506475
2,VCI,2024,4,0.971382,1.054349,0.002879,1.791351,0.168564,121.775022,0.0,...,2.054349,2.024877,26210631020000,718099480,23.730837,7.092532,-6.386280,304.103752,18025.783068,18.707439
3,VCI,2024,3,1.253482,1.362305,0.003381,1.195966,0.174413,131.475148,0.0,...,2.362305,1.806066,22871468438000,718099480,23.303298,6.530553,-17.723150,299.891911,17635.011093,17.958349
4,VCI,2024,2,1.398891,1.608265,0.003615,1.225923,0.166335,129.528632,0.0,...,2.608265,2.379972,21083029916000,574469480,26.866048,6.599683,-4.975656,486.025263,15420.349585,17.950658