<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock3

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [1]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock3 import Vnstock

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [2]:
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

2024-11-02 00:22:41 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

## Listing: Liệt kê danh sách chứng khoán

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [3]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [4]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
stock.listing.symbols_by_exchange()

,symbol,id,type,exchange,en_organ_name,en_organ_short_name,organ_short_name,organ_name
0,YTC,8425620,STOCK,UPCOM,Ho Chi Minh City Medical Import Export Joint S...,YTECO,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1,YEG,8424579,STOCK,HSX,Yeah1 Group Corporation,Yeah1 Group,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1
2,YBM,8424470,STOCK,HSX,Yen Bai Industry Mineral Joint Stock Company,Yen Bai Industry Mineral,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3,YBC,8425710,STOCK,UPCOM,YenBai Cement and Minerals Joint Stock Company,YenBai Cement and Minerals,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4,XPH,8425864,STOCK,UPCOM,Hanoi Soap Joint Stock Company,Hanoi Soap,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội
...,...,...,...,...,...,...,...,...
2558,AAS,8425599,STOCK,UPCOM,Smart Invest Securities Joint Stock Company,SmartInvest Securities,Chứng khoán SmartInvest,Công ty Cổ phần Chứng khoán SmartInvest
2559,AAM,8424957,STOCK,HSX,Mekong Fisheries Joint Stock Company,Mekong Fisheries,Thủy sản Mekong,Công ty Cổ Phần Thủy Sản MeKong
2560,AAH,13216673,STOCK,UPCOM,Hop Nhat Joint Stock Company,Hop Nhat Coal,Than Hợp Nhất,Công ty Cổ phần Hợp Nhất
2561,AAA,8424464,STOCK,HSX,An Phat Bioplastics Joint Stock Company,An Phat Bioplastics,An Phát Bioplastics,Công ty Cổ phần Nhựa An Phát Xanh
2562,A32,8425330,STOCK,UPCOM,32 Joint Stock Company,32 Company,Công ty 32,Công ty Cổ phần 32

### Liệt kê mã CP theo ngành icb

In [5]:
stock.listing.symbols_by_industries()

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,ATB,Công ty Cổ phần An Thịnh,An Thinh Joint Stock Company,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Xây dựng,Heavy Construction,CT,2000,2300,2350,2357
1,BNW,Công ty Cổ phần Nước sạch Bắc Ninh,Bac Ninh Clean Water Joint Stock Company,Nước & Khí đốt,"Gas, Water & Multi-utilities","Điện, nước & xăng dầu khí đốt",Utilities,Nước,Water,CT,7000,7500,7570,7577
2,BRR,Công ty Cổ phần Cao su Bà Rịa,BaRia Rubber Joint Stock Company,Hóa chất,Chemicals,Hóa chất,Chemicals,"Nhựa, cao su & sợi",Commodity Chemicals,CT,1000,1300,1350,1353
3,DHG,Công ty Cổ phần Dược Hậu Giang,DHG Pharmaceutical Joint Stock Company,Dược phẩm,Pharmaceuticals & Biotechnology,Y tế,Health Care,Dược phẩm,Pharmaceuticals,CT,4000,4500,4570,4577
4,BTS,Công ty Cổ phần Xi măng VICEM Bút Sơn,VICEM But Son Cement Joint Stock Company,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Vật liệu xây dựng & Nội thất,Building Materials & Fixtures,CT,2000,2300,2350,2353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,XMC,Công ty cổ phần Đầu tư và Xây dựng Xuân Mai,Xuan Mai Investment and Construction Corporation,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Vật liệu xây dựng & Nội thất,Building Materials & Fixtures,CT,2000,2300,2350,2353
1585,YBC,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,YenBai Cement and Minerals Joint Stock Company,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Vật liệu xây dựng & Nội thất,Building Materials & Fixtures,CT,2000,2300,2350,2353
1586,YBM,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,Yen Bai Industry Mineral Joint Stock Company,Khai khoáng,Mining,Tài nguyên Cơ bản,Basic Resources,Khai khoáng,General Mining,CT,1000,1700,1770,1775
1587,YEG,Công ty Cổ phần Tập đoàn Yeah1,Yeah1 Group Corporation,Truyền thông,Media,Truyền thông,Media,Giải trí & Truyền thông,Broadcasting & Entertainment,CT,5000,5500,5550,5553
1588,YTC,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,Ho Chi Minh City Medical Import Export Joint S...,Thiết bị và Dịch vụ Y tế,Health Care Equipment & Services,Y tế,Health Care,Dụng cụ y tế,Medical Supplies,CT,4000,4500,4530,4537

### Danh sách cổ phiếu theo nhóm

In [6]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
stock.listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    MBB
11    MSN
12    MWG
13    PLX
14    POW
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh sách mã ngành theo mã icb

In [7]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Ngân hàng,Banks,8300,2
151,Bảo hiểm,Insurance,8500,2
152,Bất động sản,Real Estate,8600,2
153,Dịch vụ tài chính,Financial Services,8700,2
154,Công nghệ Thông tin,Technology,9500,2

## Quote: Giá chứng khoán

#### Giá lịch sử

##### Cổ phiếu

In [8]:
df = stock.quote.history(start='2024-01-01', end='2024-06-21', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
110 2024-06-17  24.60  24.60  24.25  24.55   6375848
111 2024-06-18  24.70  24.70  24.40  24.55   5729760
112 2024-06-19  24.55  24.70  24.25  24.65   7618993
113 2024-06-20  24.55  24.85  24.40  24.80  10178313
114 2024-06-21  24.85  24.85  24.50  24.55   5126289

[115 rows x 6 columns]

In [9]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: ACB
Loại tài sản: stock

##### Hợp đồng tương lai

In [12]:
stock.quote.history(symbol='VN30F1M', start='2024-01-02', end='2024-11-01', interval='1D')

          time    open    high     low   close  volume
0   2024-01-02  1138.5  1141.8  1131.0  1133.5  167307
1   2024-01-03  1127.2  1149.8  1126.7  1148.3  173569
2   2024-01-04  1146.0  1171.0  1145.5  1156.5  260804
3   2024-01-05  1156.1  1166.1  1154.2  1166.0  199452
4   2024-01-08  1166.1  1173.3  1160.6  1162.0  182329
..         ...     ...     ...     ...     ...     ...
203 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
204 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
205 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
206 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
207 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897

[208 rows x 6 columns]

In [13]:
stock.quote.history(symbol='VN30F2411', start='2024-01-02', end='2024-11-01', interval='1D')

         time    open    high     low   close  volume
0  2024-09-20  1331.9  1338.7  1315.0  1331.5     496
1  2024-09-23  1332.0  1333.3  1326.6  1327.3     253
2  2024-09-24  1327.3  1335.8  1323.9  1335.1     254
3  2024-09-25  1334.8  1350.8  1334.8  1344.1     511
4  2024-09-26  1346.8  1366.5  1346.8  1358.2     575
5  2024-09-27  1359.7  1363.0  1353.1  1357.0     241
6  2024-09-30  1354.9  1360.3  1351.2  1357.8     324
7  2024-10-01  1362.3  1375.0  1359.9  1363.0     379
8  2024-10-02  1354.5  1362.3  1353.9  1361.3     299
9  2024-10-03  1362.0  1377.9  1351.6  1355.0     714
10 2024-10-04  1354.2  1354.6  1344.0  1345.0     616
11 2024-10-07  1349.9  1351.3  1335.9  1340.6     567
12 2024-10-08  1341.5  1350.3  1339.4  1345.0     524
13 2024-10-09  1347.5  1360.0  1345.2  1360.0     820
14 2024-10-10  1365.0  1374.8  1361.0  1366.2     836
15 2024-10-11  1368.5  1368.9  1357.2  1368.0     940
16 2024-10-14  1379.8  1379.8  1361.6  1363.5    7235
17 2024-10-15  1365.0  1374.1  1359.8  1361.9   19903
18 2024-10-16  1360.1  1365.3  1358.0  1362.9   25411
19 2024-10-17  1365.0  1369.5  1353.8  1369.0   55333
20 2024-10-18  1374.6  1377.9  1363.8  1365.9  257597
21 2024-10-21  1364.0  1369.9  1362.5  1363.9  165731
22 2024-10-22  1360.0  1363.3  1350.0  1352.2  195827
23 2024-10-23  1353.0  1355.4  1345.1  1354.0  210171
24 2024-10-24  1352.5  1354.1  1336.1  1338.0  233341
25 2024-10-25  1338.5  1339.8  1326.0  1327.2  226084
26 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
27 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
28 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
29 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
30 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897

##### Chỉ số

In [3]:
stock.quote.history(symbol='VNINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time     open     high      low    close      volume
0   2024-01-02  1138.01  1139.71  1128.69  1131.72   842255467
1   2024-01-03  1131.97  1144.17  1128.32  1144.17   719932658
2   2024-01-04  1145.49  1160.08  1144.32  1150.72  1181354559
3   2024-01-05  1151.43  1155.84  1149.08  1154.68   803268328
4   2024-01-08  1157.54  1162.56  1155.48  1160.19   905408420
..         ...      ...      ...      ...      ...         ...
203 2024-10-28  1252.72  1255.18  1250.94  1254.77   482689840
204 2024-10-29  1258.03  1262.38  1257.43  1261.78   875048711
205 2024-10-30  1261.78  1264.84  1255.07  1258.63   536846200
206 2024-10-31  1258.63  1267.88  1255.55  1264.48   614271168
207 2024-11-01  1264.48  1264.67  1254.33  1254.89   580509631

[208 rows x 6 columns]

In [4]:
stock.quote.history(symbol='HNXINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time    open    high     low   close     volume
0   2024-01-02  230.69  232.40  229.70  229.99   59394600
1   2024-01-03  230.37  231.64  229.87  231.64   57900400
2   2024-01-04  231.63  233.66  231.63  232.56  111741500
3   2024-01-05  232.56  233.35  231.69  232.76   59577900
4   2024-01-08  232.76  234.88  232.38  233.33   82783300
..         ...     ...     ...     ...     ...        ...
203 2024-10-28  223.94  225.21  222.73  224.59   35406400
204 2024-10-29  224.59  226.06  224.25  225.56   37139600
205 2024-10-30  225.22  226.57  224.63  225.88   40530500
206 2024-10-31  225.99  226.81  224.62  226.36   35990900
207 2024-11-01  226.35  226.39  224.56  225.41   38209700

[208 rows x 6 columns]

In [5]:
stock.quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  87.05  88.06  87.00  87.58  34702000
1   2024-01-03  87.62  87.92  87.26  87.80  31183200
2   2024-01-04  87.80  88.15  87.31  87.73  43019000
3   2024-01-05  87.75  88.18  87.30  87.93  38998900
4   2024-01-08  87.93  88.55  87.54  87.79  31658800
..         ...    ...    ...    ...    ...       ...
203 2024-10-28  91.83  92.15  91.82  92.15  17695900
204 2024-10-29  92.15  92.40  91.93  92.32  19235800
205 2024-10-30  92.33  92.82  92.07  92.46  24912600
206 2024-10-31  92.47  92.56  92.05  92.38  28369100
207 2024-11-01  92.39  92.51  91.63  91.96  35940600

[208 rows x 6 columns]

##### Chứng quyền

In [6]:
stock.quote.history(symbol='CFPT2314', start='2024-01-02', end='2024-11-01', interval='1D')

          time  open  high   low  close  volume
0   2024-01-02  1.95  1.95  1.90   1.90   13300
1   2024-01-03  1.85  1.89  1.85   1.89   11800
2   2024-01-04  1.96  1.99  1.94   1.94   50800
3   2024-01-05  1.95  1.95  1.95   1.95     500
4   2024-01-08  1.93  1.99  1.93   1.97    5700
..         ...   ...   ...   ...    ...     ...
203 2024-10-28  5.70  5.83  5.70   5.76  246500
204 2024-10-29  5.77  5.88  5.77   5.82   61800
205 2024-10-30  5.87  5.93  5.87   5.90   48700
206 2024-10-31  6.06  6.06  5.88   5.93  626800
207 2024-11-01  5.75  5.82  5.65   5.77  302400

[208 rows x 6 columns]

##### Trái phiếu niêm yết

In [3]:
stock.quote.history(symbol='CII424002', start='2024-01-02', end='2024-11-01', interval='1D')

          time   open   high    low  close  volume
0   2024-04-11  120.0  139.5  120.0  135.0  186701
1   2024-04-12  132.5  135.1  125.0  130.2  111161
2   2024-04-15  130.2  130.3  123.0  123.5   61607
3   2024-04-16  123.0  123.0  117.0  117.0   31563
4   2024-04-17  114.2  119.0  110.9  117.0   11721
..         ...    ...    ...    ...    ...     ...
136 2024-10-28  122.5  122.5  121.3  121.3    3713
137 2024-10-29  122.9  122.9  121.5  122.0    5542
138 2024-10-30  122.5  123.0  122.0  122.0    7309
139 2024-10-31  122.0  122.5  122.0  122.0   54799
140 2024-11-01  122.0  122.9  122.0  122.9    1922

[141 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [10]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='ACB', show_log=False)

                  time    price  volume match_type         id
99 2024-10-14 14:28:48  26000.0     500       Sell  245872657
98 2024-10-14 14:28:48  26000.0     300       Sell  245872658
97 2024-10-14 14:28:48  26000.0     600       Sell  245872659
94 2024-10-14 14:28:50  26000.0    1100       Sell  245872724
96 2024-10-14 14:28:50  26100.0     600        Buy  245872714
..                 ...      ...     ...        ...        ...
4  2024-10-14 14:29:37  26000.0    1500       Sell  245874954
3  2024-10-14 14:29:40  26050.0    2800        Buy  245875037
2  2024-10-14 14:29:54  26050.0     500        Buy  245875646
1  2024-10-14 14:29:57  26050.0    1000        Buy  245875755
0  2024-10-14 14:45:00  25950.0  735400    ATO/ATC  245876304

[100 rows x 5 columns]

In [11]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  26250      81400          81400               0                    0
1  26200     963300         839100          124200                    0
2  26150    1242500         532900          666500                43100
3  26100     997300         440600          556700                    0
4  26050    1762300        1083300          679000                    0
5  26000    2539600         511600         2028000                    0
6  25950    1440500              0          705100               735400

## Trading: Giao dịch

### Bảng giá

In [12]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   27900  24300     26100      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   4466657912  STOCK  8424512  ...       25900       377800       25850

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0       108600       26000         8200       26050        15000       26100


  ask_3_volume
0        59200

[1 rows x 40 columns]

In [13]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               97900
        floor                                                                 85100
        ref_price                                                             91500
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     5589091262
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                     91500
        benefit
match   match_price                                                           91400
        match_vol                                                            151300
        accumulated_volume                                                   930700
        accumulated_value                                                     85340
        avg_match_price                                                91694.423552
        highest                                                               92200
        lowest                                                                91300
        match_type                                                          unknown
        foreign_sell_volume                                                  470400
        foreign_buy_volume                                                   490000
        current_room                                                      370320715
        total_room                                                       1676727378
        total_accumulated_value                                            85340.07
        total_accumulated_volume                                               9307
        reference_price                                                       91500
bid_ask bid_1_price                                                           91400
        bid_1_volume                                                           5600
        bid_2_price                                                           91300
        bid_2_volume                                                           9300
        bid_3_price                                                           91200
        bid_3_volume                                                          33700
        ask_1_price                                                           91500
        ask_1_volume                                                           6000
        ask_2_price                                                           91700
        ask_2_volume                                                           4500
        ask_3_price                                                           91800
        ask_3_volume                                                          13400

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 27900
        floor                                                   24300
        ref_price                                               26100
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                       26100
        benefit
match   match_price                                             25950
        match_vol                                              735400
        accumulated_volume                                    9026900
        accumulated_value                                      235214
        avg_match_price                                  26057.007389
        highest                                                 26250
        lowest                                                  25950
        match_type                                            unknown
        foreign_sell_volume                                         0
        foreign_buy_volume                                          0
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            235214.605
        total_accumulated_volume                                90269
        reference_price                                         26100
bid_ask bid_1_price                                             25950
        bid_1_volume                                           319700
        bid_2_price                                             25900
        bid_2_volume                                           377800
        bid_3_price                                             25850
        bid_3_volume                                           108600
        ask_1_price                                             26000
        ask_1_volume                                             8200
        ask_2_price                                             26050
        ask_2_volume                                            15000
        ask_3_price                                             26100
        ask_3_volume                                            59200

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             26150
        floor                                                               22750
        ref_price                                                           24450
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7045021622
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                                   24450
        benefit
match   match_price                                                         24350
        match_vol                                                          702700
        accumulated_volume                                               11945500
        accumulated_value                                                  292054
        avg_match_price                                               24448.87196
        highest                                                             24600
        lowest                                                              24350
        match_type                                                        unknown
        foreign_sell_volume                                                548700
        foreign_buy_volume                                                3399000
        current_room                                                     42987568
        total_room                                                     1584143561
        total_accumulated_value                                         292054.95
        total_accumulated_volume                                           119455
        reference_price                                                     24450
bid_ask bid_1_price                                                         24350
        bid_1_volume                                                       689500
        bid_2_price                                                         24300
        bid_2_volume                                                       489500
        bid_3_price                                                         24250
        bid_3_volume                                                       201300
        ask_1_price                                                         24400
        ask_1_volume                                                        37100
        ask_2_price                                                         24450
        ask_2_volume                                                       199400
        ask_3_price                                                         24500
        ask_3_volume                                                       298100

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               52800
        floor                                                                 45950
        ref_price                                                             49400
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     5700435900
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                     49400
        benefit
match   match_price                                                           49400
        match_vol                                                            191700
        accumulated_volume                                                  1161900
        accumulated_value                                                     57573
        avg_match_price                                                49550.735864
        highest                                                               49750
        lowest                                                                49400
        match_type                                                          unknown
        foreign_sell_volume                                                  120440
        foreign_buy_volume                                                     1900
        current_room                                                      733831959
        total_room                                                       1710130770
        total_accumulated_value                                            57573.18
        total_accumulated_volume                                              11619
        reference_price                                                       49400
bid_ask bid_1_price                                                           49400
        bid_1_volume                                                          27900
        bid_2_price                                                           49350
        bid_2_volume                                                          72200
        bid_3_price                                                           49300
        bid_3_volume                                                          62800
        ask_1_price                                                           49450
        ask_1_volume                                                          11600
        ask_2_price                                                           49500
        ask_2_volume                                                           2100
        ask_3_price                                                           49550
        ask_3_volume                                                           1300

## Company: Thông tin công ty

> Hiện tại chỉ có nguồn dữ liệu `TCBS` được hỗ trợ

In [14]:
from vnstock3 import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

### Tổng quan

In [15]:
company.overview()

,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,HOSE,Ngân hàng,NH,25183,0.234,5589.1,5589.1,2008,23992,2.9,-0.019,-0.011,-0.059,Vietcombank,https://vietcombank.com.vn,289,8355

### Hồ sơ

In [16]:
company.profile()

,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...,Ngày 30/10/1962: Ngân hàng Ngoại thương Việt...,None,Rủi ro địa chính trị và nguy cơ chiến tranh ...,Dịch vụ tài khoản Dịch vụ huy động vốn (tiền...,"Ngân hàng số 1 tại Việt Nam, một trong 100 ng..."

### Cổ đông

In [17]:
company.shareholders()

                  share_holder  share_own_percent
0  Ngân Hàng Nhà Nước Việt Nam             0.7480
1          Mizuho Bank Limited             0.1500
2                         Khác             0.0207

### Giao dịch nội bộ

In [18]:
company.insider_deals()

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2023-12-21,None,Mua,5000.0,80900.0,0.130
1,2020-12-30,None,Bán,-2523.0,64175.0,0.424
2,2020-12-23,None,Bán,-15000.0,63913.0,0.430
3,2020-04-27,None,Mua,10000.0,43434.0,1.104
4,2019-11-29,None,Bán,-10000.0,54974.0,0.663
5,2019-07-26,None,Bán,-21000.0,50592.0,0.807
6,2019-07-22,None,Bán,-37000.0,50914.0,0.795
7,2019-01-16,None,Mua,10000.0,35704.0,1.560
8,2019-01-10,None,Mua,10000.0,35447.0,1.578
9,2018-12-03,None,Mua,10000.0,37380.0,1.445
10,2018-02-08,None,Mua,8000.0,40023.0,1.284
11,2018-01-29,None,Bán,-2829.0,43268.0,1.112
12,2018-01-05,None,Mua,10000.0,34360.0,1.660
13,2018-01-03,None,Bán,-5000.0,34933.0,1.616
14,2018-01-03,None,Bán,-1700.0,34933.0,1.616
15,2017-02-07,None,Mua,10000.0,24445.0,2.739
16,2016-01-12,None,Mua,10000.0,19310.0,3.733
17,2015-03-18,None,Bán,-4000.0,15845.0,4.768
18,2015-02-12,None,Mua,1000.0,16066.0,4.689
19,2014-02-12,None,Mua,10000.0,NaN,NaN

### Công ty con, liên kết

In [19]:
company.subsidiaries()

                                     sub_company_name  sub_own_percent
0   Công ty TNHH Chứng khoán Ngân hàng Thương mại ...            1.000
1   Công Ty TNHH Một Thành Viên Kiều Hối Ngân Hàng...            1.000
2   Công ty TNHH MTV Cho Thuê Tài Chính Ngân Hàng ...            1.000
3       Công ty TNHH Tài Chính Việt Nam Tại Hồng Kông            1.000
4    Ngân Hàng TNHH MTV Ngoại Thương Việt Nam Tại Lào            1.000
5                       Công ty Chuyển Tiền Vcb Money            0.875
6                 Công ty TNHH Cao Ốc Vietcombank 198            0.700
7   Công Ty Liên Doanh Trách Nhiệm Hữu Hạn Vietcom...            0.520
8   Công ty TNHH Quản lý quỹ đầu tư chứng khoán Vi...            0.510
9                  Công ty TNHH Bảo hiểm FWD Việt Nam            0.450
10      Công ty Liên Doanh Hữu Hạn Vietcombank-bonday            0.160
11           Tổng Công ty Cổ phần Bảo hiểm Petrolimex            0.080
12  Ngân hàng Thương mại Cổ phần Xuất nhập khẩu Vi...            0.045
13              Ngân hàng Thương mại Cổ phần Quân đội            0.044
14            Tổng Công ty Hàng không Việt Nam - CTCP            0.010
15  Tổng Công ty Cổ phần Khoan và Dịch vụ khoan Dầ...            0.002
16           Ngân hàng Thương mại Cổ phần Phương Đông            0.000

### Ban lãnh đạo

In [20]:
company.officers()

           officer_name               officer_position  officer_own_percent
3     Nguyễn Danh Lương   Thành viên Hội đồng Quản trị                  0.0
9        Lê Thị Kim Nga   Thành viên Hội đồng Quản trị                  0.0
13           Lê Thị Hoa   Thành viên Hội đồng Quản trị                  0.0
19  Nguyễn Thị Kim Oanh   Thành viên Hội đồng Quản trị                  0.0
11     Đỗ Thị Mai Hương       Thành viên Ban kiểm soát                  0.0
5     Nguyễn Danh Lương    Phụ trách Công bố thông tin                  0.0
4     Nguyễn Danh Lương              Phó Tổng Giám đốc                  0.0
12        Lê Hoàng Tùng              Phó Tổng Giám đốc                  0.0
15        Đào Minh Tuấn              Phó Tổng Giám đốc                  0.0
7     Nguyễn Thanh Tùng  Người đại diện theo pháp luật                  0.0
6     Nguyễn Thanh Tùng     Chủ tịch Hội đồng Quản trị                  0.0
0         Đàm Lam Thanh                           None                  0.0
1      Đậu Thị Thúy Vân                           None                  0.0
2     Nghiêm Xuân Thành                           None                  0.0
8         Nguyễn Mỹ Hào                           None                  0.0
10              Đào Hảo                           None                  0.0
14      Nghiêm Thị Thúy                           None                  0.0
16      Nguyễn Hòa Bình                           None                  0.0
17    Nguyễn Hồng Thắng                           None                  0.0
18       Trương Lệ Hiền                           None                  0.0

### Sự kiện

In [21]:
company.events()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,63.0,55.0,2574126,92800.0,2000.0,0.022,0.058,VCB - BCTC kiểm toán quý 2/2024,KQQY,2024-08-21 00:00:00,2024-08-21 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,VCB - BCTC kiểm toán quý 2/2024
1,52.5,42.0,2569704,88000.0,0.0,0.000,-0.009,VCB - Tổ chức ĐHĐCĐ bất thường 2024,EGME,2024-07-05 00:00:00,2024-08-19 00:00:00,2024-07-19 00:00:00,2024-07-18 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
2,41.4,50.0,2570706,NaN,NaN,NaN,NaN,VCB - BCTC quý 1/2024,KQQY,2024-04-27 00:00:00,2024-04-27 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,VCB - BCTC quý 1/2024
3,56.4,54.0,2566332,94400.0,300.0,0.003,0.050,VCB - Tổ chức ĐHĐCĐ thường niên 2024,AGME,2024-03-12 00:00:00,2024-04-27 00:00:00,2024-03-27 00:00:00,2024-03-26 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
4,52.0,61.0,2564026,89100.0,0.0,0.000,-0.027,"VCB - Niêm yết bổ sung 856,574,691 cổ phiếu",AIS,2023-08-31 00:00:00,2023-08-30 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
5,45.5,70.0,2563891,86300.0,-2100.0,-0.024,-0.026,VCB - Tổ chức ĐHĐCĐ bất thường 2023,EGME,2023-08-23 00:00:00,2023-10-06 00:00:00,2023-09-05 00:00:00,2023-08-31 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
6,61.2,56.0,2563509,88819.0,762.0,0.009,0.023,"VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 18,1%",ISS,2023-07-13 00:00:00,2023-07-25 00:00:00,2023-07-26 00:00:00,2023-07-25 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
7,57.3,82.0,2561470,78743.0,-423.0,-0.005,0.044,VCB - Tổ chức ĐHĐCĐ thường niên 2023,AGME,2023-03-01 00:00:00,2023-04-21 00:00:00,2023-03-21 00:00:00,2023-03-20 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
8,55.6,64.0,2560593,66889.0,-170.0,-0.003,0.053,VCB - Tổ chức ĐHĐCĐ bất thường 2023,EGME,2022-12-20 00:00:00,2023-01-30 00:00:00,2022-12-30 00:00:00,2022-12-29 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
9,45.6,46.0,2476530,68667.0,-2625.0,-0.037,-0.068,VCB - Tổ chức ĐHĐCĐ thường niên 2022,AGME,2022-03-15 00:00:00,2022-04-29 00:00:00,2022-03-28 00:00:00,2022-03-25 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
10,65.5,56.0,2446356,75356.0,-1694.0,-0.022,0.112,VCB - Niêm yết bổ sung 1.023.639.123 cổ phiếu,AIS,2022-01-28 17:47:09,2022-02-14 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Vi...
11,44.5,32.0,2395944,64962.0,-524.0,-0.008,0.020,VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 27.6%,ISS,2021-12-16 11:58:44,2021-12-22 00:00:00,2021-12-23 00:00:00,2021-12-22 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
12,44.5,32.0,2395943,64962.0,-524.0,-0.008,0.020,"VCB - Trả cổ tức Cả năm, 2020 bằng tiền 1200 V...",DIV,2021-12-16 09:00:00,2022-01-05 00:00:00,2021-12-23 00:00:00,2021-12-22 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
13,51.9,30.0,1611831,64306.0,-1246.0,-0.019,-0.043,VCB - Tổ chức ĐHĐCĐ thường niên 2021,AGME,2021-02-24 00:00:00,2021-04-23 00:00:00,2021-03-19 00:00:00,2021-03-18 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
14,NaN,65.0,1481291,63590.0,-1366.0,-0.021,0.140,"VCB - Trả cổ tức Cả năm, 2019 bằng tiền 800 VN...",DIV,2020-12-15 09:00:00,2021-01-08 00:00:00,2020-12-22 00:00:00,2020-12-21 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...

### Tin tức

In [22]:
company.news()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,61.2,65.0,92600,-100,-0.001,0.018,11337404,VCB: HĐQT phê duyệt giới hạn tín dụng đối với...,TCBS,2024-10-03 17:56:00
1,58.4,71.0,90600,-900,-0.010,-0.002,11325137,VCB: HĐQT phê duyệt điều chỉnh giới hạn tín d...,TCBS,2024-09-20 17:26:00
2,58.4,71.0,90600,-900,-0.010,-0.002,11325139,VCB: Thông báo về việc sử dụng con dấu mới củ...,TCBS,2024-09-20 17:25:00
3,51.6,47.0,90200,0,0.000,0.029,11313077,VCB: HĐQT thông qua giao dịch giữa VCB với VCBM,TCBS,2024-09-09 15:34:00
4,61.0,54.0,91100,-400,-0.004,0.044,11303459,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...,TCBS,2024-08-28 10:34:00
5,64.2,54.0,91500,-500,-0.005,0.048,11302907,VCB: Quy chế tổ chức và hoạt động của BKS sửa...,TCBS,2024-08-27 17:22:00
6,64.2,54.0,91500,-500,-0.005,0.048,11302770,VCB: Điều lệ công ty sửa đổi,TCBS,2024-08-27 15:36:00
7,64.2,54.0,91500,-500,-0.005,0.048,11302772,VCB: Quy chế tổ chức và hoạt động của HĐQT sử...,TCBS,2024-08-27 15:34:00
8,64.2,54.0,91500,-500,-0.005,0.048,11302775,VCB: Quy chế quản trị nội bộ sửa đổi năm 2024,TCBS,2024-08-27 15:33:00
9,69.1,68.0,92400,-400,-0.004,0.054,11298823,Vietcombank bầu loạt nhân sự cấp cao,TCBS,2024-08-22 17:15:00
10,54.6,45.0,90800,2000,0.023,0.035,11296022,VCB: Thông báo thay đổi nhân sự,TCBS,2024-08-20 14:16:00
11,54.6,45.0,90800,2000,0.023,0.035,11296024,VCB: CBTT Biên bản họp và Nghị quyết ĐHĐCĐ bấ...,TCBS,2024-08-20 14:16:00
12,51.0,41.0,88800,700,0.008,0.015,11293530,"VCB: Thông báo cập nhật, bổ sung Tài liệu ĐHĐ...",TCBS,2024-08-19 08:48:00
13,59.2,58.0,88000,-1500,-0.017,0.006,11290038,VCB: Nghị quyết HĐQT số 387 ngày 13/08/2024,TCBS,2024-08-14 14:49:00
14,59.2,58.0,88000,-1500,-0.017,0.006,11289950,Vietcombank tạm rút kế hoạch phát hành riêng l...,TCBS,2024-08-14 14:25:00

### Cổ tức

In [23]:
company.dividends()

   exercise_date  cash_year  cash_dividend_percentage issue_method
0       25/07/23       2023                     0.181        share
1       22/12/21       2022                     0.276        share
2       22/12/21       2020                     0.120         cash
3       21/12/20       2019                     0.080         cash
4       30/12/19       2018                     0.080         cash
5       05/10/18       2017                     0.080         cash
6       28/09/17       2016                     0.080         cash
7       09/09/16       2015                     0.100         cash
8       26/06/15       2014                     0.100         cash
9       18/06/14       2013                     0.120         cash
10      26/02/13       2012                     0.120         cash
11      24/02/12       2011                     0.120         cash
12      18/07/11       2011                     0.120        share
13      10/03/10       2009                     0.120         cash
14      01/12/08       2008                     0.120         cash

## Finance: Báo cáo tài chính

In [24]:
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='VCI', source='VCI')

2024-10-14 22:18:06,478 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

### Bảng cân đối kế toán

In [25]:
stock.finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,Hàng tồn kho ròng,Tài sản lưu động khác,Tài sản dài hạn khác,Các quỹ khác,Các quỹ khác,LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ,Chứng khoán đầu tư giữ đến ngày đáo hạn,Dự phòng giảm giá đầu tư dài hạn,...,Nợ dài hạn (Tỷ đồng),Người mua trả tiền trước ngắn hạn (Tỷ đồng),Vay và nợ thuê tài chính ngắn hạn (Tỷ đồng),Nợ ngắn hạn (Tỷ đồng),NỢ PHẢI TRẢ (Tỷ đồng),TỔNG CỘNG TÀI SẢN (Tỷ đồng),Trả trước dài hạn (Tỷ đồng),Tài sản dài hạn khác (Tỷ đồng),Đầu tư dài hạn (Tỷ đồng),Tài sản cố định (Tỷ đồng)
0,VCI,2023,0,194894059515,51610830106,0,0,0.000000e+00,3.809000e+11,0,...,418133081941,378319774,8979275000000,9465772066243,9883905148184,17255134656525,7943878800,0,0,23425609453
1,VCI,2022,0,51841008271,54201919410,0,0,0.000000e+00,8.858886e+11,0,...,259818195982,221000000,6326207142857,7487464949226,7747283145208,14242751316822,13290531600,0,0,23496558588
2,VCI,2021,0,153897953409,48333579135,0,0,0.000000e+00,7.537190e+11,0,...,478919580113,52551076244,6362680000000,9615482121617,10094401701730,16636264947117,10702485700,0,0,13155825424
3,VCI,2020,0,97527648804,50200524983,0,0,0.000000e+00,1.060000e+11,0,...,127061488385,7971369863,2696130000000,3733857117341,3860918605726,8382405125440,12950546970,0,0,14384201512
4,VCI,2019,0,165433739031,53010616665,0,0,0.000000e+00,2.615000e+11,0,...,102259071579,210000000,1450980000000,3089095306237,3191354377816,7242960228473,17085900679,0,0,9907318916
5,VCI,2018,0,2684615898,59763924859,0,0,0.000000e+00,0.000000e+00,0,...,113702791275,126324890101,984860000000,2753315401147,2867018192422,6509995923207,25494063880,0,0,18226354386
6,VCI,2017,0,118590746956,33742673168,0,0,0.000000e+00,0.000000e+00,0,...,142380091644,462392057000,1434460418662,3240236456315,3382616547959,6402011745204,2171535344,0,0,25326131092
7,VCI,2016,0,7607339062,23507511542,0,0,7.721605e+10,0.000000e+00,0,...,389500569,571264678998,627508000000,1833600556278,1833990056847,3110547766840,4433448206,0,0,9489824544
8,VCI,2015,0,92517941380,24968229303,0,0,7.475699e+10,0.000000e+00,0,...,392040419,799974087998,535500000000,1490157101748,1490549142167,2463346245759,9817929938,0,0,14899441202
9,VCI,2014,14179400,7528096736,30243761669,21941382767,21941382767,7.604128e+10,0.000000e+00,-265898127,...,393611716,840646942003,266511750000,1963043681863,1963437293579,2770320517032,14560154043,14160000000,13894101873,18390029859
10,VCI,2013,16677400,1377489195,30548750129,14656994434,14656994434,0.000000e+00,0.000000e+00,0,...,0,470366997300,648400000000,1588138187619,1588138187619,2132287364715,16231644217,0,0,11027268785
11,VCI,2011,12320284,9081696024,8344074359,0,0,0.000000e+00,0.000000e+00,0,...,500431975000,121749992655,582426780000,1455431516667,1955863491667,2417653905042,0,594640525000,606244925000,7612776214

In [26]:
stock.finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Net Inventories,Other current assets,Other non-current assets,Other Reserves,Other Reserves,MINORITY INTERESTS,Goodwill,...,Advances from customers (Bn. VND),Short-term borrowings (Bn. VND),Current liabilities (Bn. VND),LIABILITIES (Bn. VND),TOTAL ASSETS (Bn. VND),Long-term prepayments (Bn. VND),Other long-term assets (Bn. VND),Long-term investments (Bn. VND),Fixed assets (Bn. VND),Long-term trade receivables (Bn. VND)
0,VCI,2024,2,0,400500649851,53224683273,0,0,0.0,0,...,1753351687,12392104000000,13597525115321,14246851580952,23105371788635,8879984392,0,0,32024143832,0
1,VCI,2024,1,0,261218668090,54019497651,0,0,0.0,0,...,1083817322,10239557000000,10805008051040,11367295476918,19544604126402,9017164629,0,0,21879259104,0
2,VCI,2023,4,0,194894059515,51610830106,0,0,0.0,0,...,378319774,8979275000000,9465772066243,9883905148184,17255134656525,7943878800,0,0,23425609453,0
3,VCI,2023,3,0,226429639030,51340225116,0,0,0.0,0,...,100000000,8722707142857,9215353960676,9625671689274,16917131786375,8522827154,0,0,21322591745,0
4,VCI,2023,2,0,52662044484,51038325192,0,0,0.0,0,...,100000000,6214252142857,6672434352674,7149696682829,14519562225164,9086601750,0,0,18824692495,0

### Báo cáo lãi lỗ

In [27]:
stock.finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Cổ đông thiểu số,Cổ đông thiểu số,Lãi/Lỗ ròng trước thuế,Tăng trưởng doanh thu (%),Doanh thu (Tỷ đồng),Lợi nhuận sau thuế của Cổ đông công ty mẹ (Tỷ đồng),Tăng trưởng lợi nhuận (%),Thu nhập tài chính,...,Doanh thu bán hàng và cung cấp dịch vụ,Thu nhập khác,Lợi nhuận khác,LN trước thuế,Thuế TNDN,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông của Công ty mẹ,Lãi cơ bản trên cổ phiếu
0,VCI,2023,0,0,570138640134,-0.216644,2472460543397,491904659394,-0.433927,2.369615e+10,...,2472460543397,132390105,128411319,570138640134,-7.823398e+10,-64320454739,-13913526001,491904659394,491904659394,0
1,VCI,2022,0,0,1059738713385,-0.148588,3156242736345,868978185802,-0.420186,3.554843e+10,...,3156242736345,44543029091,43696276107,1059738713385,-1.907605e+11,-250981079495,60220551912,868978185802,868978185802,1999
2,VCI,2021,0,0,1850585393088,1.143320,3707068724492,1498718375328,0.949141,2.561687e+10,...,3707068724492,69316632,-267786912,1850585393088,-3.518670e+11,-309748513618,-42118504142,1498718375328,1498718375328,4502
3,VCI,2020,0,0,951038957081,0.122423,1729591590563,768912289421,0.109253,5.858556e+09,...,1729591590563,621078878,621078878,951038957081,-1.821267e+11,-182422798514,296130854,768912289421,768912289421,4668
4,VCI,2019,0,0,855007109256,-0.154015,1540944352650,693180577268,-0.169467,9.926627e+09,...,1540944352650,17597948,17597948,855007109256,-1.618265e+11,-155223164412,-6603367576,693180577268,693180577268,4240

In [28]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Minority Interest,Minority Interest,Minority Interest,Minority Interest,Net Profit/Loss before tax,Provision for credit losses,Provision for credit losses,...,Sales,Other income,Net other income/expenses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,VCI,2024,2,0,0,0,0,3.437661e+11,0.000000e+00,0.000000e+00,...,915851554761,2837985204,2826585413,343766121537,-6.455944e+10,-64821621464,262179824,279206679897,279206679897,0
1,VCI,2024,1,0,0,0,0,2.275405e+11,0.000000e+00,0.000000e+00,...,806317375461,232524110,-62475890,227540468148,-2.978401e+10,-37710331505,7926325750,197756462393,197756462393,0
2,VCI,2023,4,0,0,0,0,1.491318e+11,1.129200e+10,1.129200e+10,...,805695933425,16990909,13012123,149131831394,-2.618133e+10,-7570702516,-18610626203,122950502675,122950502675,0
3,VCI,2023,3,0,0,0,0,2.095692e+11,0.000000e+00,0.000000e+00,...,666686976459,95890411,95890411,209569229621,-3.056605e+10,-33158501552,2592446586,179003174655,179003174655,0
4,VCI,2023,2,0,0,0,0,1.306470e+11,0.000000e+00,0.000000e+00,...,500867804195,4750000,4750000,130647004339,-1.375038e+10,-9894721068,-3855663920,116896619351,116896619351,0

### Báo cáo lưu chuyển tiền tệ

In [29]:
stock.finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Cash and cash equivalents,Unrealized foreign exchange gain/loss,Profit/Loss from investing activities,Interest Expense,Interest income and dividends,Increase/Decrease in receivables,Increase/Decrease in receivables,Increase/Decrease in receivables,...,Cash and Cash Equivalents at the end of period,Depreciation and Amortisation,Operating profit before changes in working capital,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Increase in charter captial,Cash flows from financial activities,"Collection of loans, proceeds from sales of debts instruments (Bn. VND)","Loans granted, purchases of debt instruments (Bn. VND)"
0,VCI,2023,3423501614803,0,0,562553033255,-1.032191e+11,-7.134590e+11,0,-7.134590e+11,...,787897819240,9679599271,-5407321967895,-7898483136,0,-7898483136,24001188000,1727849074143,0,0
1,VCI,2022,1131748599533,0,154602984,477360036322,-5.948490e+10,1.564054e+11,0,1.564054e+11,...,3423501614803,9647191174,2006811362129,-22377694322,0,-21692694322,25000000000,-1428442857143,0,0
2,VCI,2021,642512983590,0,0,330776772616,-4.785212e+10,1.255581e+10,5939376000,1.255581e+10,...,1131748599533,7496942452,-5732733292320,-6428566364,0,-6428566364,13500000000,4245676777200,0,0
3,VCI,2020,794511762602,0,-500000000,173513458172,-2.094800e+10,-2.008506e+11,57321090000,-2.008506e+11,...,642512983590,10634646105,-1673271187005,-13821350820,0,-13321350820,13452168000,432858721500,0,0
4,VCI,2019,1144361568890,0,-8900000,165277553123,-4.476748e+10,0.000000e+00,-63260466000,0.000000e+00,...,794511762602,11729076470,-1299721219619,-8838018881,0,-8829118881,16801320000,113369230,0,0

In [30]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Minority Interest,Minority Interest,Minority Interest,Minority Interest,Net Profit/Loss before tax,Provision for credit losses,Provision for credit losses,...,Sales,Other income,Net other income/expenses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,VCI,2024,2,0,0,0,0,3.437661e+11,0.000000e+00,0.000000e+00,...,915851554761,2837985204,2826585413,343766121537,-6.455944e+10,-64821621464,262179824,279206679897,279206679897,0
1,VCI,2024,1,0,0,0,0,2.275405e+11,0.000000e+00,0.000000e+00,...,806317375461,232524110,-62475890,227540468148,-2.978401e+10,-37710331505,7926325750,197756462393,197756462393,0
2,VCI,2023,4,0,0,0,0,1.491318e+11,1.129200e+10,1.129200e+10,...,805695933425,16990909,13012123,149131831394,-2.618133e+10,-7570702516,-18610626203,122950502675,122950502675,0
3,VCI,2023,3,0,0,0,0,2.095692e+11,0.000000e+00,0.000000e+00,...,666686976459,95890411,95890411,209569229621,-3.056605e+10,-33158501552,2592446586,179003174655,179003174655,0
4,VCI,2023,2,0,0,0,0,1.306470e+11,0.000000e+00,0.000000e+00,...,500867804195,4750000,4750000,130647004339,-1.375038e+10,-9894721068,-3855663920,116896619351,116896619351,0

### Chỉ số tài chính

In [31]:
stock.finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Chỉ tiêu định giá                                              \
    CP   Năm Kỳ               P/B Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)
0  VCI  2023  5          2.178232    16056250000000                 437500000
1  VCI  2022  5          2.866248    18617620767750                 435499901
2  VCI  2021  5          1.183493     7742250000000                 333000000
3  VCI  2020  5          2.666309    12055680000000                 165600000
4  VCI  2019  5          2.418360     9798240000000                 164400000

                                                 ...  \
         P/E       P/S P/Cash Flow    EPS (VND)  ...
0  32.640980  6.494037   -3.686385  1124.353507  ...
1  21.424727  5.898666    4.975461  1995.357941  ...
2   5.165914  2.088510   -2.064593  4500.655782  ...
3  15.678875  6.970247  -21.093469  4643.190154  ...
4  14.135191  6.358594  -28.722550  4216.426869  ...

  Chỉ tiêu hiệu quả hoạt động                             \
               Vòng quay TSCĐ Số ngày thu tiền bình quân
0                  105.385605                        0.0
1                  172.225781                        0.0
2                  269.213152                        0.0
3                  142.402909                        0.0
4                  109.544483                        0.0

                                                                      \
  Số ngày tồn kho bình quân Số ngày thanh toán bình quân Chu kỳ tiền
0                       0.0                    30.140870         0.0
1                       0.0                    78.715859         0.0
2                       0.0                    94.585936         0.0
3                       0.0                    39.269900         0.0
4                       0.0                     4.820025         0.0

                         Chỉ tiêu cơ cấu nguồn vốn                           \
  Vòng quay hàng tồn kho          (Vay NH+DH)/VCSH   Nợ/VCSH TSCĐ / Vốn CSH
0                    0.0                  1.218152  1.340876       0.003178
1                    0.0                  0.973942  1.192721       0.003617
2                    0.0                  0.972610  1.543047       0.002011
3                    0.0                  0.596293  0.853905       0.003181
4                    0.0                  0.358125  0.787676       0.002445


  Vốn CSH/Vốn điều lệ
0            1.283137
1            1.130690
2            1.138766
3            0.787072
4            0.705278

[5 rows x 37 columns]

In [32]:
stock.finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Chỉ tiêu định giá                           \
  ticker yearReport lengthReport               P/B Market Capital (Bn. VND)
0    VCI       2024            2          2.379972           21083029916000
1    VCI       2024            1          2.571899           21167010000000
2    VCI       2023            4          3.092259           22793750000000
3    VCI       2023            3          2.520071           18375000000000
4    VCI       2023            2          2.519975           18571875000000

                                                                    \
  Outstanding Share (Mil. Shares)        P/E       P/S P/Cash Flow
0                       574469480  26.866048  6.599683   -4.975656
1                       441900000  33.973894  7.615216   -4.399652
2                       437500000  46.238494  9.219055   -5.222052
3                       437500000  46.087220  7.460683 -125.437258
4                       437500000  54.210541  8.012570   12.053285

               ... Chỉ tiêu hiệu quả hoạt động                         \
    EPS (VND)  ...        Fixed Asset Turnover Days Sales Outstanding
0  486.025263  ...                  129.528632                    0.0
1  447.514058  ...                  130.111085                    0.0
2  281.029720  ...                  105.385605                    0.0
3  409.150113  ...                  116.656253                    0.0
4  267.192273  ...                  103.182976                    0.0

                                                                  \
  Days Inventory Outstanding Days Payable Outstanding Cash Cycle
0                        0.0                76.735113        0.0
1                        0.0                41.382358        0.0
2                        0.0                30.140870        0.0
3                        0.0                33.556763        0.0
4                        0.0                47.975578        0.0

                     Chỉ tiêu cơ cấu nguồn vốn              \
  Inventory Turnover (ST+LT borrowings)/Equity Debt/Equity
0                0.0                  1.398891    1.608265
1                0.0                  1.252192    1.390102
2                0.0                  1.218152    1.340876
3                0.0                  1.196291    1.320130
4                0.0                  0.843197    0.970126


  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.003615                       1.542035
1              0.002676                       1.423454
2              0.003178                       1.283137
3              0.002924                       1.269251
4              0.002554                       1.282899

[5 rows x 37 columns]