<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock3

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [1]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock3 import Vnstock

# II. Tìm kiếm mã niêm yết được hỗ trợ bởi MSN

In [2]:
from vnstock3.explorer.msn.listing import Listing
Listing(api_version='20240530').search_symbol_id('USDEUR')

,symbol,symbol_id,exchange_name,exchange_code_mic,short_name,friendly_name,eng_name,description,local_name,locale
0,USDEUR,avyn9c,FOREX,FOREX,US Dollar/Euro FX Cross Rate,US Dollar/Euro FX Cross Rate,US Dollar/Euro FX Cross Rate,,US Dollar/Euro FX Cross Rate,en-us
1,,buc5dm,,LU,UBSLKSS DgtlTransTh USDEURh Qa,UBSLKSS DgtlTransTh USDEURh Qa,UBS (Lux) KSS - Digit Transfn Themes USDEURh Q...,,UBS (Lux) KSS - Digit Transfn Themes USDEURh Q...,lb-lu
2,,buc61h,,LU,UBSLKSS DgtlTransTh USDEURh Pa,UBSLKSS DgtlTransTh USDEURh Pa,UBS (Lux) KSS - Digit Transf Themes USDEURh P-acc,,UBS (Lux) KSS - Digit Transf Themes USDEURh P-acc,lb-lu
3,,bvhdjc,,LU,UBSLKSS - DgtlTrans Th USD Fd,UBSLKSS - DgtlTrans Th USD Fd,UBS (Lux) KSS - Digit Transf Themes USDEURh F-...,,UBS (Lux) KSS - Digit Transf Themes USDEURh F-...,lb-lu
4,,aslrm7,,LU,UBS(L)ES-LT Thms USDEURh Pa,UBS(L)ES-LT Thms USDEURh Pa,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,lb-lu
5,,aslrjc,,LU,UBS(L)ES-LT Thms USDEURh Qa,UBS(L)ES-LT Thms USDEURh Qa,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,lb-lu
6,,c98nxm,,LU,UBS L Eq S-USA Gr USDEURh IA1a,UBS L Eq S-USA Gr USDEURh IA1a,UBS (Lux) Eq S - USA Growth (USD) (EURh) IA1-acc,,UBS (Lux) Eq S - USA Growth (USD) (EURh) IA1-acc,lb-lu
7,,atpn4c,,LU,UBS L EqS-GlEM Opp USDEUR IA3d,UBS L EqS-GlEM Opp USDEUR IA3d,UBS (Lux) Eq SICAV - Gl EM Oppty (USD)(EUR) IA...,,UBS (Lux) Eq SICAV - Gl EM Oppty (USD)(EUR) IA...,lb-lu
8,,bx12ec,,LU,UBS L EF-China Opp USDEUR IA3d,UBS L EF-China Opp USDEUR IA3d,UBS (Lux) Eq Fd - China Opport (USD)(EUR) IA3d,,UBS (Lux) Eq Fd - China Opport (USD)(EUR) IA3d,lb-lu
9,,bqet6h,,LU,UBS L EF- China Opp USDEURh Pa,UBS L EF- China Opp USDEURh Pa,UBS (Lux) Eq Fd - China Opportunity (USD)(EURh...,,UBS (Lux) Eq Fd - China Opportunity (USD)(EURh...,lb-lu

# III. Truy xuất giá lịch sử: FX, Crypto, Index

## 3.1. Truy xuất theo mã symbol

### Forex

In [3]:
from vnstock3 import Vnstock
fx = Vnstock().fx(symbol='JPYVND', source='MSN')
df = fx.quote.history(start='2024-02-28', end='2024-05-25', interval='1D')
df

         time    open    high     low   close
0  2024-02-28  163.60  163.88  163.20  163.37
1  2024-02-29  163.37  165.13  163.36  164.28
2  2024-03-01  164.28  164.30  163.45  164.12
3  2024-03-04  164.15  164.43  163.76  163.92
4  2024-03-05  163.92  164.92  163.76  164.55
..        ...     ...     ...     ...     ...
58 2024-05-20  163.54  163.68  162.80  162.87
59 2024-05-21  162.87  163.37  162.47  163.02
60 2024-05-22  163.00  163.09  162.34  162.40
61 2024-05-23  162.40  162.70  162.01  162.28
62 2024-05-24  162.27  162.37  162.03  162.18

[63 rows x 5 columns]

### Crypto

In [4]:
crypto = Vnstock().crypto(symbol='BTC', source='MSN')
df = crypto.quote.history(start='2023-01-01', end='2024-12-31', interval='1D')
df

,time,open,high,low,close,volume
151,2023-01-07,4.182180e+08,4.220811e+08,4.152359e+08,4.210869e+08,358035386751964
152,2023-02-06,5.795730e+08,5.818381e+08,5.673893e+08,5.702187e+08,485976283113416
153,2023-03-08,5.571195e+08,5.595811e+08,5.467598e+08,5.519391e+08,565493832746614
154,2023-04-07,6.998726e+08,6.999511e+08,6.890308e+08,6.966164e+08,343731185006155
155,2023-05-07,7.337453e+08,7.407319e+08,7.071692e+08,7.179909e+08,395300449187434
156,2023-06-06,6.737381e+08,6.739088e+08,6.320580e+08,6.398808e+08,534390189338563
157,2023-07-06,7.645435e+08,7.669929e+08,7.508042e+08,7.579719e+08,310043497424022
158,2023-08-05,7.246916e+08,7.278636e+08,7.175117e+08,7.222004e+08,298990137292480
159,2023-09-04,6.425977e+08,6.480048e+08,6.412951e+08,6.450841e+08,222629109151071
160,2023-10-04,6.833050e+08,6.872530e+08,6.760455e+08,6.813607e+08,283370104394895
161,2023-11-03,8.803688e+08,8.922489e+08,8.545351e+08,8.678659e+08,521594258238673
162,2023-12-03,9.610417e+08,9.856248e+08,9.601305e+08,9.805921e+08,385865444600589
163,2024-01-02,1.050241e+09,1.097318e+09,1.048620e+09,1.097116e+09,457726144530330
164,2024-02-01,1.066785e+09,1.085940e+09,1.050706e+09,1.057752e+09,612892939222094
165,2024-03-02,1.519415e+09,1.568773e+09,1.510335e+09,1.551025e+09,998229391626077
166,2024-04-01,1.730051e+09,1.773024e+09,1.729482e+09,1.771928e+09,498065383701097
167,2024-05-01,1.585771e+09,1.607231e+09,1.468542e+09,1.506220e+09,939966467021096
168,2024-05-31,1.678590e+09,1.726393e+09,1.667213e+09,1.698186e+09,733021259339343
169,2024-06-30,1.498346e+09,1.517665e+09,1.497876e+09,1.512443e+09,314298120353410
170,2024-07-30,1.695555e+09,1.738491e+09,1.652670e+09,1.659807e+09,1012992156480513
171,2024-08-29,1.478177e+09,1.496273e+09,1.438004e+09,1.466246e+09,1000792787104530
172,2024-09-28,1.619088e+09,1.651380e+09,1.610948e+09,1.634240e+09,796340926083096

### Index

In [5]:
index = Vnstock().world_index(symbol='DJI', source='MSN')
df = index.quote.history(start='2023-01-01', end='2024-12-31', interval='1D')
df

          time      open      high       low     close     volume
82  2023-05-02  34017.62  34017.75  33436.66  33684.53  275727624
83  2023-05-03  33726.64  33811.84  33396.05  33414.24  292784419
84  2023-05-04  33347.78  33354.86  32937.50  33127.74  317322759
85  2023-05-05  33248.55  33748.43  33248.55  33674.38  318573071
86  2023-05-08  33715.15  33747.49  33509.23  33618.69  225681527
..         ...       ...       ...       ...       ...        ...
442 2024-10-07  42289.51  42293.64  41831.74  41954.24  307238418
443 2024-10-08  42022.65  42128.56  41874.72  42080.37  286520154
444 2024-10-09  42070.32  42562.01  41993.35  42512.00  267405837
445 2024-10-10  42511.37  42511.37  42308.04  42454.12  245575493
446 2024-10-11  42507.53  42899.75  42507.53  42863.86  265334505

[365 rows x 6 columns]

## 3.2. Truy xuất theo id tương ứng symbol

Trong trường hợp mã symbol bạn cần không có sẵn trong danh sách được hỗ trợ, bạn có thể truy xuất dữ liệu theo id của mã đó được tìm kiếm ở mục `II. Tìm kiếm mã niêm yết được hỗ trợ bởi MSN`

In [6]:
# avyufr là symbol_id của USDEUR
from vnstock3.explorer.msn.quote import *

fx = Quote(symbol_id='avyn9c')
fx.history(start='2020-01-01', end='2024-12-31')

           time  open  high   low  close
883  2023-05-22  0.92  0.93  0.92   0.92
884  2023-05-23  0.92  0.93  0.92   0.93
885  2023-05-24  0.93  0.93  0.93   0.93
886  2023-05-25  0.93  0.93  0.93   0.93
887  2023-05-26  0.93  0.93  0.93   0.93
...         ...   ...   ...   ...    ...
1243 2024-10-07  0.91  0.91  0.91   0.91
1244 2024-10-08  0.91  0.91  0.91   0.91
1245 2024-10-09  0.91  0.91  0.91   0.91
1246 2024-10-10  0.91  0.92  0.91   0.91
1247 2024-10-11  0.91  0.92  0.91   0.91

[365 rows x 5 columns]

In [7]:
# c2111 là symbol_id của BTC
crypto = Quote(symbol_id='c2111')
crypto.history(start='2023-01-01', end='2024-12-31', interval='1D')

,time,open,high,low,close,volume
151,2023-01-07,4.182180e+08,4.220811e+08,4.152359e+08,4.210869e+08,358035386751964
152,2023-02-06,5.795730e+08,5.818381e+08,5.673893e+08,5.702187e+08,485976283113416
153,2023-03-08,5.571195e+08,5.595811e+08,5.467598e+08,5.519391e+08,565493832746614
154,2023-04-07,6.998726e+08,6.999511e+08,6.890308e+08,6.966164e+08,343731185006155
155,2023-05-07,7.337453e+08,7.407319e+08,7.071692e+08,7.179909e+08,395300449187434
156,2023-06-06,6.737381e+08,6.739088e+08,6.320580e+08,6.398808e+08,534390189338563
157,2023-07-06,7.645435e+08,7.669929e+08,7.508042e+08,7.579719e+08,310043497424022
158,2023-08-05,7.246916e+08,7.278636e+08,7.175117e+08,7.222004e+08,298990137292480
159,2023-09-04,6.425977e+08,6.480048e+08,6.412951e+08,6.450841e+08,222629109151071
160,2023-10-04,6.833050e+08,6.872530e+08,6.760455e+08,6.813607e+08,283370104394895
161,2023-11-03,8.803688e+08,8.922489e+08,8.545351e+08,8.678659e+08,521594258238673
162,2023-12-03,9.610417e+08,9.856248e+08,9.601305e+08,9.805921e+08,385865444600589
163,2024-01-02,1.050241e+09,1.097318e+09,1.048620e+09,1.097116e+09,457726144530330
164,2024-02-01,1.066785e+09,1.085940e+09,1.050706e+09,1.057752e+09,612892939222094
165,2024-03-02,1.519415e+09,1.568773e+09,1.510335e+09,1.551025e+09,998229391626077
166,2024-04-01,1.730051e+09,1.773024e+09,1.729482e+09,1.771928e+09,498065383701097
167,2024-05-01,1.585771e+09,1.607231e+09,1.468542e+09,1.506220e+09,939966467021096
168,2024-05-31,1.678590e+09,1.726393e+09,1.667213e+09,1.698186e+09,733021259339343
169,2024-06-30,1.498346e+09,1.517665e+09,1.497876e+09,1.512443e+09,314298120353410
170,2024-07-30,1.695555e+09,1.738491e+09,1.652670e+09,1.659807e+09,1012992156480513
171,2024-08-29,1.478177e+09,1.496273e+09,1.438004e+09,1.466246e+09,1000792787104530
172,2024-09-28,1.619088e+09,1.651380e+09,1.610948e+09,1.634240e+09,796340926083096